$top-header: #0078d7;
$top-header-icon: white;
$top-search-bar: #c3ddf7;
$search-icon: #76baf6;
$top-header-icon-hover: #005A9E;
$navigation-icon-hover: #ededed;
$navigation-bar: #f4f4f4;
$navBar-icon: gray;
$navBar-footer-hover: #ededed;